<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="jumbotron">
    <h1>de mogelijkheden van {{tech}} in het onderwijs</h1>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-offset-1 col-sm-10">
      <p class="lead">
        <b> Steeds meer van mijn volgers vroegen mij of ik iets wilde schrijven over de mogelijkheden van {{tech}} in het onderwijs.
          {{tech}} is nog niet zo lang beschikbaar maar de potentie ervan in het onderwijs is wat mij betreft evident. In deze blogpost
          beschrijf ik verschillende mogelijkheden en tips om {{tech}} in het onderwijs in te zetten. </b>
      </p>
      <blockquote>
        <p>“Je kunt niet alles gebruiken in het onderwijs, maar je kunt het onderwijs wel voor alles gebruiken”</p>
        <footer>CEO {{tech}}</footer>
      </blockquote>
      <h2>Geen voordefinieerde structuur of inhoud</h2>
      <p class="lead">{{tech}} is heel gemakkelijk te installeren, je hoeft er geen kennis voor te hebben. Eenmaal geinstalleerd kun je
        meteen aan de slag in de klas met {{tech}}. De look & feel is verzorgd en overzichtelijk. Ook de bediening van {{tech}} is zeer
        intuitief. Je kunt {{tech}} zowel binnen als buiten de school gebruiken, wat een enorm voordeel is. Het maakt de technologie ook
        laagdrempelig. {{tech}} heeft geen voordefinieerde structuur of inhoud; je kunt het dus naar eigen inzicht gebruiken in de klas. Dit
        maakt de technologie erg flexibel en dus breed inzetbaar.</p>

      <h2>Grote verandering op komst</h2>
      <p class="lead">De potentie van {{tech}} is dus evident en als elke school {{tech}} zou gebruiken dan zullen we op korte termijn
        een grote verandering meemaken in het onderwijs. Ik was zelf binnen een dag overtuigd van {{tech}}, maar de reacties van de docenten
        die ik sprak spreken ook boekdelen: “Ik kende {{tech}} nog helemaal niet, maar dit sluit echt aan bij de behoefte van binnen mijn
        school. Het sluit ook aan bij de belevingswereld van de jongere generatie” Qua idee is {{tech}} op zichzelf niet nieuw, maar omdat
        {{tech}} nu snel populair begint te worden wilde ik graag de impact van {{tech}} op het onderwijs benoemen. De vraag die ik daarbij
        stel is: zijn er onderwijsactiviteiten met {{tech}} te bedenken die andere mensen nog niet hebben bedacht? Het antwoord is eigenlijk
        bedrieglijk simpel. Met {{tech}} bereik je wat ik noem ‘flipped-education’. Iedere onderwijsactiviteit met {{tech}} wordt een
        compleet nieuwe ervaring, doordat je op het andere manier insteekt. Met {{tech}} kun je het onderwijs van de toekomst inrichten.</p>

      <h2>Experimenten</h2>
      <p class="lead">Zoals ik schreef is {{tech}} een nieuw fenomeen. Het product is nu nog gratis te verkrijgen, maar ik sluit niet
        uit dat de producent in de toekomst meer functies aan het product toevoegt. Ook hier zitten mogelijke interessante toepassingen bij
        voor het onderwijs. Toch komt {{tech}} nu tegemoet aan veel wensen die binnen het onderwijs leven: flexibel, laagdrempelig en
        intuïtief. Voorlopers op het gebied van onderwijsinnovatie doen er dus goed aan om nu al te experimenteren met de mogelijkheden van
        {{tech}} in de klas. Ik ben benieuwd naar jullie ervaringen. Ik vond {{tech}} zelf één van de meest veelbelovende vernieuwingen
        sinds mijn laatste blogpost.</p>
      <blockquote>
        <p>“I am the Scientist of Love. Let me experiment on you.”</p>
        <footer>Jarod Kintz</footer>
      </blockquote>
    </div>

  </div>
</body>
</html>