<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="jumbotron">
    <h1>De {{tech}} in het onderwijs</h1>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-offset-1 col-sm-10">
      <p class="lead">
        <b> Ik kreeg laats te kans even kennis te maken met de {{tech}}. Ik vroeg me als onderwijstechnoloog natuurlijk gelijk af wat de
          toegevoegde waarde van de {{tech}} in de onderwijspraktijk zou kunnen zijn. Die waarde is natuurlijk in overvloedde aanwezig.</b>

      </p>
      <h2>De laatste ontwikkeling</h2>
      <p class="lead">De technologische ontwikkelingen gaan natuurlijk razendsnel. Nieuwe technologieen volgen elkaar in een rap tempo
        op. De maatschappij verandert door invloed van technologieen, en de onderwijspraktijk is daar natuurlijk gewoon onderdeel van.</p>
      <blockquote>
        <p>De maatschappij verandert door invloed van technologieen</p>
        <footer>Descares, "Meditaties over de eerste filosofie" (1641)</footer>
      </blockquote>
      <p class="lead">De komst van de {{tech}} is hier een voorbeeld van. De {{tech}} is binnekort niet meer uit het straatbeeld weg te
        denken en zal dus ook in het klaslokaal zijn intrede gaan doen.</p>
      <h2>De toepassingen zijn eindeloos</h2>
      <p class="lead">Technologie als de {{tech}} zijn goed in te zetten in het onderwijsproces. Door het communiceren van gegevens en
        het delen van ideeen leren leerlingen anders naar materiaal te kijken. Zo kan door bijvoorbeeld {{tech}} op zijn kop te houden de
        wereld vanuit een andere hoek bekeken worden. Zo kan de leerling leren dat niet alles er altijd maar hetzelfe uitziet.</p>
      <blockquote>
        <p>Soms moet je dingen vanuit een ander perspectief zien om het anders te bekijken.</p>
        <footer>Aïsha Albers, Client Happyness Manager, EduTech B.V.</footer>
      </blockquote>
      <p class="lead"></p>
      <h2>Docenten</h2>
      <p class="lead">Ook docenten onderkennen het voordeel van {{tech}} in het klaslokaal. Door te delen, ideeen en creaties uit te
        wissen zijn ze meer bij de het materiaal betrokken. Ook worden ze gewoon blijer van de {{tech}}. Zo zij laast een leerling tegen een
        docent met wie ik sprak: "Zonder de {{tech}} had ik wiskunde allang laten vallen".</p>
      <blockquote>
        <p>Zonder de {{tech}} had ik wiskunde allang laten vallen</p>
        <footer>Leerling madame-janet college in Rijswijk</footer>
      </blockquote>
      <p class="lead">De tranen sprongen mij in de ogen. Docenten kunnen beter hun werk doen met leerlingen die blijer zijn. De
        leerlingen zijn meer betrokken en vallen de docent minder lastig met inhoudelijke en moeilijke vragen over het lesmateriaal.
        Docenten hebben zo meer tijd om dingen te doen die ook belangrijk zijn.</p>

      <h2>De toekomst</h2>
      <p class="lead">We zullen dus veel toepassing gaan zien van de {{tech}} in het onderwijs! Zelf kan ik natuurlijk niet wachten tot
        het moment dat iedere school gebruikmaakt van de {{tech}} in de dagelijkse praktijk.</p>
    </div>
  </div>
</body>
</html>