<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
  <div class="jumbotron">
    <h1>De {{tech}} in het onderwijs</h1>
  </div>
  <div class="col-sm-12">
    <div class="col-sm-offset-1 col-sm-10">
      <p class="lead">
        <b> Ik kreeg laats te kans even kennis te maken met de {{tech}}. </p>
      <h2>Iets over {{tech}}</h2>
      <p class="lead">Tekst</p>
      <blockquote>
        <p>Quote over {{tech}}</p>
        <footer>Bron</footer>
      </blockquote>

    </div>
  </div>
</body>
</html>